{% extends 'veterinary_templates/base_template.html'%} 
{% block page_title %}
<h5>Manage Body Weight</h5>

{% endblock page_title %}

 {% block main_content %}
<section class="main" id="main">
    <!-- {% if messages %}
    <div class="form-group">
        <div class="col-12">
            {% for message in messages %} {% if message.tags == "error" %}
            <div class="col-sm-12">
                <div class="alert fade alert-simple alert-danger alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show mt-1 " role="alert" data-brk-library="component__alert">
                    <button type="button" class="close font__size-18" data-dismiss="alert">
                        <span aria-hidden="true">
                            <i class="fa fa-times danger "></i>
                        </span>
                        <span class="sr-only">Close</span>
                    </button>
                    <i class="start-icon far fa-times-circle faa-pulse animated"></i>
                    <strong class="font__weight-semibold">Oh snap!</strong> {{message}}
                </div>
            </div>
            {% elif message.tags == "success" %}
            <div class="alert fade alert-simple alert-success alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show mt-1">
                <button type="button" class="close font__size-18" data-dismiss="alert">
                             <span aria-hidden="true">
                              <i class="fa fa-times greencross"></i>
                              </a></span>
                    <span class="sr-only">Close</span> 
                </button>
                <i class="start-icon far fa-check-circle faa-tada animated"></i>
                <strong class="font__weight-semibold"></strong> {{message}}
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>
    {% endif %} -->
    <div class="row">
        <div class="col-md-12">

            <div class="card manage sc">
                <div class="card-header">
                    <span>Manage Body Weight</span>
                    <div class="card-tools d-flex">
                        <!--                
                    <div class="input-group input-group-sm" style="width: 150px;">
                       
                        <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        </div>
                    </div> -->
                        <!-- <input type="search" name="search" id="filter" class="form-control float-right" placeholder="Search"> -->


                        <a class="btn btn-sm btn-info mr-2" href="{% url 'add_body_weight' %}" role="button">+ Add Body Weight </a>

                    </div>

                </div>
                <table class="table table-bordered table-hover dataTable" id="plist">
                    <thead>

                        <tr>
                            <th>No</th>
                            <th>Dog</th>
                            <th>Weight</th>
                            <th>BMI</th>
                            <th>Monthly Recorded</th>
                        

                            <th class="text-center">Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for body in body %}
                        <tr class="hov">
                            <td>{{forloop.counter}}</td>
                            <td>{{body.dog_id}}</td>
                            <td>{{body.weight}}</td>

                            {% if body.weight > 40 %}

                            <td>
                                <div style="background-color: red;border-radius: 10px;font-size: 11px; width:120px;font-weight: 600;color: white;" class="d-flex justify-content-center ml-2 mt-2 px-1 ">Obese</div>

                            </td>

                            {% else %}

                            <td>
                                <div style="background-color: rgb(48, 58, 92);border-radius: 10px;font-size: 11px; width:120px;font-weight: 600;color: white;" class="d-flex justify-content-center ml-2 mt-2 px-1 ">Fit For Service</div>

                            </td>

                            {% endif %}

                            <td>{{body.date}}</td>
                          
                            <!-- End Expire -->
                            <td class="d-flex justify-content-center">
                                <a href="{% url 'edit_weight'  body.id %}" class="btn btn-sm btn-success">Edit</a> &nbsp;
                                <a href="{% url 'monthly_delete'  body.id %}" class="btn btn-sm btn-danger">Delete</a> &nbsp;
                                <a href="{% url 'view_monthly_weight'  body.id %}" class="btn btn-sm btn-warning">View</a> &nbsp;

                            </td>

                        </tr>
                        {% endfor %}

                    </tbody>

                </table>
            </div>
        </div>
    </div>
</section>

{% endblock %}